/* Styles de base */
header {
    position: relative;
    z-index: 10;
    top: 0;
    left: 0;
    width: 100%;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.6);
    padding: 0;
    border-bottom: 8px solid #ccc;
    border-image: linear-gradient(to right, 
        #e97804 0%, #e97804 20%, 
        #fcf5ef 20%, #fcf5ef 26.7%,
        #fab613 26.7%, #fab613 46.7%, 
        #fcf5ef 46.7%, #fcf5ef 53.4%,
        #8ecae6 53.4%, #8ecae6 73.4%, 
        #fcf5ef 73.4%, #fcf5ef 80%,
        #2984ce 80%, #2984ce 100%);
    border-image-slice: 1;
    background-image: url('../CNO/Barre_de_naviguation.svg');
    background-position: center;
    background-size: 200%; /* Modifier pour "cover" pour une meilleure adaptabilité */
}

/* Boutons navigation */
nav ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap; /* Permet aux éléments de passer à la ligne sur les petits écrans */
    justify-content: center; /* Centrer les éléments pour les petits écrans */
    align-items: center;
    padding: 0; /* Enlever le padding par défaut */
}

nav li {
    margin: 5px 10px; /* Réduire l'espacement pour les petits écrans */
}

nav a {
    text-decoration: none;
    color: #000;
    font-family: 'Avenir', sans-serif;
    font-weight: bold;
    padding: 8px 20px; /* Ajuster le padding pour les petits écrans */
    border-radius: 10px;
    border: 1px solid transparent; /* Simplifier */
    font-size: 14px;
    transition: background-color 0.3s, color 0.3s, transform 0.3s; /* Ajouter une transition */
}

/* Media queries pour l'adaptabilité */
@media (max-width: 768px) {
    /* Pour les tablettes et en dessous */
    nav ul {
        flex-direction: column; /* Les éléments de navigation en colonne */
    }

    nav a {
        font-size: 12px; /* Taille de police plus petite */
        padding: 8px 16px; /* Padding réduit */
    }

    nav ul li:first-child a img {
        height: 60px; /* Réduire la taille du logo */
    }
}

@media (max-width: 480px) {
    /* Pour les mobiles */
    header {
        border-bottom: 5px solid #ccc; /* Bordure inférieure plus fine */
    }

    nav li {
        margin: 5px 5px; /* Espacement réduit */
    }

    nav a {
        font-size: 11px; /* Taille de police encore plus petite */
        padding: 6px 12px; /* Padding encore réduit */
    }
}

nav ul li:first-child a img {
    height: 80px;
    width: 80px;
    height: auto;
    display: flex;
    align-items: left;
    justify-content: space-between;
}

nav ul li:nth-child(2) a {
    background-color: #fff;
}
nav ul li:nth-child(2) a:hover {
    background-color: #e97804;
    color: #000;
}
nav ul li:nth-child(2) a.active {
    background-color: #e97804;
    color: #000;
    transform: scale(1.1);
}


nav ul li:nth-child(3) a {
    background-color: #fff;
}

nav ul li:nth-child(3) a:hover {
    background-color: #fab613;
    color: #000;
}
nav ul li:nth-child(3) a.active {
    background-color: #fab613;
    color: #000;
    transform: scale(1.1);
}


nav ul li:nth-child(4) a {
    background-color: #fff;
}

nav ul li:nth-child(4) a:hover {
    background-color: #8ecae6;
    color: #000;
}
nav ul li:nth-child(4) a.active {
    background-color: #8ecae6;
    color: #000;
    transform: scale(1.1);
}


nav ul li:nth-child(5) a {
    background-color: #fff;
}

nav ul li:nth-child(5) a:hover {
    background-color: #2984ce;
    color: #000;
}
nav ul li:nth-child(5) a.active {
    background-color: #2984ce;
    color: #000;
    transform: scale(1.1);
}

nav ul li:nth-child(6) a {
    background-color: #fff;
}

nav ul li:nth-child(6) a:hover {
    background-color: #d14816;
    color: #000;
}
nav ul li:nth-child(6) a.active {
    background-color: #d14816;
    color: #fff;
    transform: scale(1.1);
}


nav ul li:nth-child(7) a img {
    height: 60px;
    width: 60px;
    border-radius: 30%;
    padding: 0px;
}





/* Body */

body {
    font: 12px 'Avenir'; 
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
}



/* Presentation */
#myVideo {
    position: relative; /* Change from fixed to relative */
    left: 50%; /* Position at the middle of the page */
    transform: translate(-50%, 10%); /* Center the video */
    width: 100%; /* Width of the video */
    height: 500px; /* Height of the video */
}







/* A propos  */

main{
    margin-top: 50px;
    margin-left: 250px;
    margin-right: 250px;
}

h1 {
    display: inline-block;
    font-family: 'Avenir', sans-serif;
    font-size: 40px;
    margin: 0;
}

.title .traits span {
    display: block;
    height: 4px; /* Hauteur du trait */
    background-color: #fab613; /* Couleur du trait */
    margin: 5px 0; /* Espace autour du trait */
    width: 250px;
}

.title .traits2 span {
    display: block;
    height: 4px; /* Hauteur du trait */
    background-color: #d14816; /* Couleur du trait */
    margin: 5px 0; /* Espace autour du trait */
    width: 350px;
}

.content {
    display: flex;
    align-items: center;
    padding: 20px;
    margin-top: 0px;
}

.content img {
    max-width: 100%;
    max-height: 250px;
    height: auto;
    margin-right: 20px;
    border-radius: 15px;
}

.text {
    color: #000;
    border-bottom: 2px solid #fff;
    display: inline-block;
    padding-bottom: 10px;
    font-family: 'Avenir', sans-serif;
    font-size: 15px;
    font-weight: bold;
}

.text p {
    font-size: 20px;
    font-weight: bold;
}

.compare {
    font-size: 2em;
    color: #e97804;
    vertical-align: middle; /* Couleur de la comparaison */
    margin-right: 5px;
}

.evaluate {
    font-size: 2em;
    color: #fab613;
    vertical-align: middle; /* Couleur de l'évaluation */
    margin-right: 5px;
}

.innovate {
    font-size: 2em;
    color: #8ecae6;
    vertical-align: middle; /* Couleur de l'innovation */
    margin-right: 5px;
}

.improve {
    font-size: 2em;
    color: #2984ce;
    vertical-align: middle; /* Couleur de l'amélioration */
    margin-right: 5px;
}

.textbox {
    font-family: 'Avenir', sans-serif;
    padding: 20px;
    font-size: 15px;
}

.textbox p {
    font-size: 20px;
    font-weight: bold;
}



/* Quatres parties de à propos */
.indicator-section {
    display: grid;
    grid-template-areas:
        'top-left top-right'
        'bottom-left bottom-right';
    grid-gap: 20px;
}

.indicator-box {
    width: 100%;
    text-align: left;
}

.indicator-box h2 {
    text-align: center;
    margin-top: 0;
    font-size: 20px;
    font-weight: bold;
}

.indicator-box img {
    max-width: 30%;
    height: auto;
    float: left;
}

.indicator-box ul {
    margin-left: 0; /* Réinitialisez la marge par défaut de la liste */
    padding-left: 10px; /* Ajoutez un peu d'espace à gauche de la liste */
}

/* Définir la disposition spécifique des boîtes dans la grille */
.indicator-box:nth-child(1) {
    grid-area: top-left;
}

.indicator-box:nth-child(2) {
    grid-area: top-right;
}

.indicator-box:nth-child(3) {
    grid-area: bottom-left;
}

.indicator-box:nth-child(4) {
    grid-area: bottom-right;
}






/* Graphiques : */
.dashboard {
    display: flex;
    justify-content: space-between;
}

.viz-container {
    flex: 1;
}   

#chart-container, #map-container {
    flex: 1;
    min-width: 45%; /* Ajustez cette valeur selon vos besoins */
    height: 500px; /* Hauteur fixe pour simplifier */
    padding: 100px;
}

#chart {
    /* Ajustez ces valeurs selon vos besoins */
    transform-origin: top left;
    transform: scale(0.7); /* Réduit le graphique à 80% de sa taille originale */
}

#divmap, #chart {
    height: 100%;
    width: 100%;
}

#map-container {
    width: 50%; /* ou la largeur souhaitée */
    float: right; /* Continue à flotter à droite */
    transform-origin: top right; /* Change le point d'origine pour les transformations */
    transform: scale(0.9); /* Ajustez la mise à l'échelle si nécessaire */
    z-index: 1;
}

.tooltip {
    position: absolute;
    text-align: center;
    padding: 6px;
    font: 12px sans-serif;
    background: lightsteelblue;
    border: 0px;
    border-radius: 8px;
    pointer-events: none;
    opacity: 0;
}
.zoom {
    cursor: move;
    fill: none;
    pointer-events: all;
}

.controls-container {
    display: flex;
    flex-direction: column; /* Organiser les enfants en colonne */
    align-items: flex-start; /* Aligner les enfants au début (gauche) */
    margin-bottom: 1000px; /* Espacer le conteneur des contrôles du reste du contenu */
}

.control-group {
    margin-bottom: 10px; /* Espacer chaque groupe de contrôle verticalement */
}

/* Style optionnel pour les sélecteurs et étiquettes pour une apparence uniforme */
label, select {
    display: block; /* Assure que les sélecteurs prennent toute la largeur du conteneur */
    margin-bottom: 5px; /* Espacer légèrement les étiquettes des sélecteurs */
}

select {
    width: 100%; /* Assurer que les sélecteurs utilisent toute la largeur disponible */
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
}
.legend {
    padding: 6px 8px;
    font: 14px Arial, Helvetica, sans-serif;
    background: white;
    background: rgba(255, 255, 255, 0.8);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    line-height: 24px;
    color: #555;
}
.legend i {
    width: 18px;
    height: 18px;
    float: left;
    margin-right: 8px;
    opacity: 0.7;
}

.circle {
    fill: none; /* Pas de remplissage */
    stroke: darkblue; /* Couleur des contours */
    stroke-width: 2px; /* Épaisseur des contours */
}





/* Score map */

.scoremap {
    margin-top: 20px;
    padding: 50px;
    font: 'Avenir', sans-serif;
}


#calculateur {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    gap: 20px;
    margin: 20px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.column {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid;
    padding: 10px;
    border-radius: 8px;
    margin-bottom: 20px;
}

/* Couleurs spécifiques pour chaque cadre */
.column:nth-child(1) { border-color: #ff0000; } /* Rouge */
.column:nth-child(2) { border-color: #00ff00; } /* Vert */
.column:nth-child(3) { border-color: #0000ff; } /* Bleu */
.column:nth-child(4) { border-color: #ff00ff; } /* Fuchsia */
.column:nth-child(5) { border-color: #00ffff; } /* Aqua */
.column:nth-child(6) { border-color: #ffff00; } /* Jaune */
.column:nth-child(7) { border-color: #ff7f50; } /* Corail */
.column:nth-child(8) { border-color: #6a5acd; } /* Bleu ardoise */
.column:nth-child(9) { border-color: #ff4500; } /* Orange rouge */
.column:nth-child(10) { border-color: #2e8b57; } /* Vert de mer */
.column:nth-child(11) { border-color: #da70d6; } /* Orchidée */
.column:nth-child(12) { border-color: #db7093; } /* Rose pâle */
.column:nth-child(13) { border-color: #4682b4; } /* Bleu acier */
.column:nth-child(14) { border-color: #d2691e; } /* Chocolat */
.column:nth-child(15) { border-color: #b0c4de; } /* Bleu clair */
.column:nth-child(16) { border-color: #808080; } /* Gris */

#score {
    font-weight: bold; /* Gras */
    font-size: 1.2em; /* Taille de police plus grande */
    color: red; /* Couleur rouge */
    align-self: center;
}


input[type=range] {
    width: 100%; /* Ajustez la largeur si nécessaire */
    margin: 10px 0;
}
#classement-container {
    max-height: 400px; /* Hauteur maximale avant le défilement */
    overflow-y: auto; /* Permet le défilement vertical */
    margin-top: 20px; /* Espace au-dessus de la liste */
}

#statistiques {
    display: flex;
    justify-content: space-around; /* Répartit l'espace entre les éléments */
    margin-top: 20px; /* Espace au-dessus des statistiques */
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

#dashboard {
    display: flex;
    justify-content: space-between;
}

#controls-container {
    width: 30%;
    display: flex;
    flex-direction: column;
}

#sliders {
    height: 400px;
    overflow-y: auto;
    border: 1px solid #ddd;
    margin-bottom: 20px;
    padding: 10px;
    font-size: 14px;
}

.slider-label {
    font-weight: bold;
    text-align: center;
}

#statistiques {
    border: 1px solid #ddd;
    padding: 10px;
}

#carte {
    z-index: 1;
    height: 400px;
    width: 68%;
    border: 1px solid #ddd;
}

#classement-container {
    overflow-y: auto;
    height: 150px;
    border: 1px solid #ddd;
    width: 68%;
}




/* Clustering */
.cluster{
    margin-top: 40px;
    display: flex;
    justify-content: space-between; /* Alignement des éléments sur les extrémités (left et right) */
    flex-wrap: wrap; 
}

#chart {
    width: 70%;
    height: 500px;
    padding: 20px;
}

#liste-communes {
    width: 30%;
    max-height: 400px;
    overflow-y: auto;
    margin-top: 40px;
}

select {
    margin: 5px;
}

.axis line,
.axis path {
    stroke: black;
    width: 100px;
}

.axis text {
    font-size: 12px;
}

.table-container {
    width: 100%;
}

.table-header,
.table-body {
    width: 100%;
    table-layout: fixed;
}

.table-header {
    border-bottom: 2px solid #ddd;
}

.table-body-container {
    overflow-y: scroll;
}


/* bouton */
    .info-button {
        position: fixed;
        bottom: 20px;
        right: 20px;
        width: 40px;
        height: 40px;
        background-color: #007BFF; /* Couleur du bouton */
        color: white;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
    }

    .info-bubble {
        display: none;
        position: absolute;
        bottom: 70px;
        right: 20px;
        width: 200px; /* Modifiez la largeur selon vos besoins */
        height: 200px; /* Modifiez la hauteur maximale selon vos besoins */
        overflow-y: auto; /* Ajout d'une barre de défilement si la hauteur dépasse la hauteur maximale */
        padding: 10px;
        background-color: white; /* Couleur de la bulle */
        color: black;
        border-radius: 5px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
        z-index: 999;
        font-size: 15px;
        font-family: 'Avenir', sans-serif;
    }





/* Foot */

footer {
    width: 100%;
    text-align: center;
    margin-top: calc(35vh);
}