body {
    display: flex;
    flex-direction: row;
    margin: 0;
}

#graph {
    flex: 1;
    padding: 20px;
}

#carte {
    flex: 1;
    padding: 20px;
}

#graphique.js {
    max-width: 100%;
    height: auto;
}

#divmap {
    width: 900px;
    height: 500px;
    border: 3px solid gray;
}

